@page "{zaposlenikId:int}/{ulogaId:int}"
@model TBP_enterprises.Pages.UrediUloguModel
@{
    ViewData["Title"] = "Uređivanje uloge";
}

<h1>@ViewData["Title"]</h1>

<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label>Zaposlenik:</label>
            <span class="zaposlenik-text">@Model.ZaposlenikImePrezime</span>
        </div>
        <div class="form-group">
            <label for="uloga">Uloga:</label>
            <select id="uloga" name="NovaUloga" class="custom-dropdown">
                @foreach (var uloga in Model.Uloge)
                {
                    if (uloga.Id == Model.TrenutnaUlogaId)
                    {
                        <option value="@uloga.Id" selected>@uloga.Naziv_uloge</option>
                    }
                    else
                    {
                        <option value="@uloga.Id">@uloga.Naziv_uloge</option>
                    }
                }
            </select>
        </div>
        <div class="form-buttons">
            <button type="submit" class="btn btn-green">Spremi promjene</button>
            <a href="/UlogeZaposlenika" class="btn btn-red">Odustani</a>
        </div>
    </form>
</div>

