@page "{id:int}"
@model TBP_enterprises.Pages.UrediZaposlenikaModel
@{
    ViewData["Title"] = "Uređivanje zaposlenika";
}
@using System.Globalization;


<h1>@ViewData["Title"]</h1>

<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="ime">Ime:</label>
            <input type="text" id="ime" name="Ime" value="@Model.Zaposlenik.Ime" required />
        </div>
        <div class="form-group">
            <label for="prezime">Prezime:</label>
            <input type="text" id="prezime" name="Prezime" value="@Model.Zaposlenik.Prezime" required />
        </div>
        <div class="form-group">
        <label for="uloga">Uloga:</label>
            <select id="uloga" name="Zaposlenik.Id_uloga" class="custom-dropdown" required>
                @foreach (var uloga in Model.Uloge)
                {
                    <option value="@uloga.Id" selected="@(uloga.Id == Model.Zaposlenik.Id_uloga ? "selected" : null)">
                        @uloga.Naziv_uloge
                    </option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="pocetak">Početak Zaposlenja:</label>
            <input type="date" id="pocetak" name="PocetakZaposlenja" value="@Model.Zaposlenik.PocetakZaposlenja?.ToString("yyyy-MM-dd")" required />
        </div>
        <div class="form-group">
            <label for="zavrsetak">Završetak Zaposlenja:</label>
            <input type="date" id="zavrsetak" name="ZavrsetakZaposlenja" value="@Model.Zaposlenik.ZavrsetakZaposlenja?.ToString("yyyy-MM-dd")" />
        </div>
        <div class="form-group">
            <label for="satnica">Satnica:</label>
            <input type="number" id="satnica" name="Satnica" value="@Model.Zaposlenik.Satnica.ToString(CultureInfo.InvariantCulture)" step="0.01" required />
        </div>
        <div class="form-buttons">
            <button type="submit" class="btn btn-green">Spremi promjene</button>
            <button type="submit" formaction="?handler=Obrisi" formmethod="post" class="btn btn-red">Obriši</button>
            <a href="/Zaposlenici" class="btn btn-blue">Odustani</a>
        </div>
    </form>
</div>